body {
    display: flex;
    justify-content: center;
}

td {
    border:1px solid black;
    text-align: center;
    width: 44%;
    height: 21px;
}

#mainContainer {
    display: flex;
    width: 1000px;
}

#characterContainer {
    border:1px solid black;
    display: flex;
    width: 210px;
    min-height: 527px;
    text-align: center;
    padding: 3px;
    justify-content: center;
}

#newCharacter{
    display: block;
    align-self: center;
    height: 25px;
}

#subContainer1, #subContainer2{
    display: none;
}

#playerImg {
    background-image: url(./image/75395d41b1ba64f19f697325a638c849.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
    margin: 5px;
}

#targetImg {
    width: 200px;
    height: 200px;
    background-size: contain;
    margin: 5px;
}

.statsButton{
    width: 100%;
}

#midBox{
    width: 564px;
}

#messageBox{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 78%;
    box-sizing: border-box;
    border: 1px solid black;
}

#expBar{
    height: 2%;
    border: 1px solid black;
    box-sizing: border-box;
}

#progressBar{
    height: 100%;
    width: 0%;
    box-sizing: border-box;
    background-color: green;
}

#buttonBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    box-sizing: border-box;
    border: 1px solid black;
    flex-direction: column;
}

#subButtonBox1, #subButtonBox2, #subButtonBox3{
    display: none;
}
